services:

    es:
        build:
            context: .
            dockerfile: ./docker/es/Dockerfile
        container_name: elasticsearch
        environment:
            - discovery.type=single-node
            - xpack.security.enabled=false
        ports:
            - "9200:9200"

    kibana:
        build:
            context: .
            dockerfile: ./docker/kibana/Dockerfile
        container_name: kibana
        depends_on:
            - es
        environment:
            - ELASTICSEARCH_HOSTS=http://es:9200
        ports:
            - "5601:5601"

    nginx:
        build:
            context: .
            dockerfile: ./docker/nginx/Dockerfile
        container_name: nginx
        ports:
            - "8888:80"
        volumes:
            - ./nginx_volume:/var/log/nginx

    filebeat:
        build:
            context: .
            dockerfile: ./docker/filebeat/Dockerfile
        container_name: filebeat
        user: root
        depends_on:
            - nginx
        volumes:
            - ./nginx_volume:/var/log/nginx

    metricbeat:
        build:
            context: .
            dockerfile: ./docker/metricbeat/Dockerfile
        container_name: metricbeat
        user: root
        depends_on:
            - nginx
        environment:
            - DOCKER_API_VERSION=1.44
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro