services:

    es:
        build:
            context: .
            dockerfile: ./docker/es/Dockerfile
        container_name: elasticsearch
        environment:
            - discovery.type=single-node
            - xpack.security.enabled=false
        ports:
            - "9200:9200"
        volumes:
            - es_volume:/usr/share/elasticsearch/data

    kibana:
        build:
            context: .
            dockerfile: ./docker/kibana/Dockerfile
        container_name: kibana
        depends_on:
            - es
        environment:
            - ELASTICSEARCH_HOSTS=http://es:9200
        ports:
            - "5601:5601"

volumes:
    es_volume:
